<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oruit.share.dao.TbBannerDOMapper" >
  <resultMap id="BaseResultMap" type="com.oruit.share.domain.TbBannerDO" >
    <id column="banner_id" property="bannerId" jdbcType="INTEGER" />
    <result column="banner_img" property="bannerImg" jdbcType="VARCHAR" />
    <result column="banner_url" property="bannerUrl" jdbcType="VARCHAR" />
    <result column="disable" property="disable" jdbcType="INTEGER" />
    <result column="banner_type" property="bannerType" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="Base_Column_List" >
    banner_id, banner_img, banner_url,banner_type, disable, create_time, update_time
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_banner
    where banner_id = #{bannerId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_banner
    where banner_id = #{bannerId,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.oruit.share.domain.TbBannerDO" useGeneratedKeys="true" keyProperty="bannerId" >
    insert into tb_banner (banner_img, banner_url, disable, 
      create_time, update_time)
    values (#{bannerImg,jdbcType=VARCHAR}, #{bannerUrl,jdbcType=VARCHAR}, #{disable,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.oruit.share.domain.TbBannerDO" useGeneratedKeys="true" keyProperty="bannerId" >
    insert into tb_banner
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="bannerImg != null" >
        banner_img,
      </if>
      <if test="bannerUrl != null" >
        banner_url,
      </if>
      <if test="disable != null" >
        disable,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="bannerImg != null" >
        #{bannerImg,jdbcType=VARCHAR},
      </if>
      <if test="bannerUrl != null" >
        #{bannerUrl,jdbcType=VARCHAR},
      </if>
      <if test="disable != null" >
        #{disable,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.oruit.share.domain.TbBannerDO" >
    update tb_banner
    <set >
      <if test="bannerImg != null" >
        banner_img = #{bannerImg,jdbcType=VARCHAR},
      </if>
      <if test="bannerUrl != null" >
        banner_url = #{bannerUrl,jdbcType=VARCHAR},
      </if>
      <if test="disable != null" >
        disable = #{disable,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where banner_id = #{bannerId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.oruit.share.domain.TbBannerDO" >
    update tb_banner
    set banner_img = #{bannerImg,jdbcType=VARCHAR},
      banner_url = #{bannerUrl,jdbcType=VARCHAR},
      disable = #{disable,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where banner_id = #{bannerId,jdbcType=INTEGER}
  </update>

  <select id="queryTbBanner" parameterType="map"  resultType="com.oruit.share.domain.TbBannerDO" >
    select <include refid="Base_Column_List" /> from tb_banner
    where disable = 1 and banner_type = #{bannerType}
    order by banner_id asc
  </select>

</mapper>