@charset "utf-8";
.container-nb {
    width: 7.5rem;

    position: relative;
    z-index: 1;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    z-index:10000;
}

.goodsopenview {
    position: relative;
    background: #fff;
}

.goodsopenview .swiper-slide {
    height:100%;
	max-height: 750px;
}

.goodsname {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px;
    font-size: 16px;
    height: 40px;
    color: #444;
    font-weight: bold;
    line-height: 20px;
    margin-top: 10px;
    overflow: hidden;
    background: #fff;
	width:88%;
	max-height: 650px;
}

.goodsprice {
    height: 35px;
    line-height: 35px;
    width: 100%;
	max-width:750px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px;
    background: #fff;
    display:-webkit-box;
    -webkit-box-align:center;

}

.goodsprice .trueprice {
    display:block;
    font-size: 18px;
    color: #FE4E4E;
    margin-right: 8px;
    font-weight: 500;
    font-family: arial;
}

.goodsprice .trueprice em {
    font-size: 22px;
    font-weight: bold;
}

.goodsprice .baseprice {
    display: -webkit-box;
    height:20px;
    border: 1px solid rgb(245, 77, 35);
    border-radius: 5px;
    -webkit-box-align:center;
}
.ljmoney{
    font-size: 14px;
}
.ljmoney2{
    font-size: 20px;
}
.detailfanzi{
    /*background: #FE4E4E;*/
	background:-webkit-linear-gradient(left, #FE4E4E, #FF7373);
    color: #fff;
    display: block;
    height: 20px;
    line-height: 20px;
    text-align: center;
    padding: 0 5px;
    font-size: 14px;
}
.detailfanmoney{
    color: #FE4E4E;
    display: block;
    height: 20px;
    line-height: 20px;
    text-align: center;
    -webkit-box-flex: 1;
    font-size: 14px;
    padding: 0 5px;
}
.goodsshow {
    margin-top: 15px;
    background: #fff;
    margin-bottom: 50px;
	width:100%;
	max-width:750px;
}

.goodsshow .seemore {
    display: block;
    height: 40px;
    color: #444;
    line-height: 40px;
    font-size: 14px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px;
    background: url(../images/icon_ab.png) no-repeat 95% center/10px;
    border-bottom: 1px solid #f0f0f0;
}

.seemore a{
color:#fff;
text-decoration:none;
}

.seemore a:hover{
color:#fff;
text-decoration:none;
}

.goodsdetail {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px;
    font-size: 16px;
	max-width:750px;
}

.goodsdetail p {
    margin-top: 15px;
}

.goodsdetail img {
    display: block;
    width: 100%;
    margin-top: 15px;
}



.goodsgetcoupon {
    position: fixed;
    width: 100%;
	max-width:640px;
    height: 50px;
    line-height: 50px;
    display: -webkit-box;
    z-index: 10000;
	margin:auto;left:0; right:0;bottom:0;
}

.goodsgetcoupon a {
    display: block;
	color:#fff;
	text-decoration:none;
}

.goodsgetcoupon a:active {
    display: block;
	color:#fff;
	text-decoration:none;
}

.goodsgetcoupon a:visited {
    display: block;
	color:#fff;
	text-decoration:none;
}

.goodsgetcoupon a:hover {
    display: block;
	color:#fff;
	text-decoration:none;
}

.goodsget {
    -webkit-box-flex: 1;
    /*background: #FE4E4E;*/
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
	width:100%;
	max-width:750px;
}

.allpreContainer{

width:100%;
max-width:750px;
height:auto;
}

.detailfanzi{
    /*background: #FE4E4E;*/
	background:-webkit-linear-gradient(left, #FE4E4E, #FF7373);
    color: #fff;
    display: block;
    height: 20px;
    line-height: 20px;
    text-align: center;
    padding: 0 5px;
    font-size: 14px;
}
.detailfanmoney{
    color: #FE4E4E;
    display: block;
    height: 20px;
    line-height: 20px;
    text-align: center;
    -webkit-box-flex: 1;
    font-size: 14px;
    padding: 0 5px;
}

.goodscollection {
    display: block;
    width: 40px;
    height: 20px;
    background: url(../../images/coll.png) no-repeat center top/20px;
    font-size: 12px;
    color: #666;
    text-align: center;
    position: absolute;
    right: 10px;
    bottom: 20px;
    padding-top: 20px;
}

.goodscollection2 {
    display: block;
    width: 40px;
    height: 20px;
    background: url(../../images/coll2.png) no-repeat center top/20px;
    font-size: 12px;
    color: #666;
    text-align: center;
    position: absolute;
    right: 10px;
    bottom: 20px;
    padding-top: 20px;
}


/*新底部*/
#nb-menu {
    position: fixed;
    bottom: 0;
    border-top: #f0f0f0 1px solid;
    background: #fff;
    z-index: 90001;
    width: 100%;
	max-width:640px;
}

#nb-menu ul {
    display: -webkit-box;
    width: 100%;
	height:46px;
}

#nb-menu li {
    -webkit-box-flex: 1;
    font-size: 12px;
    padding: 4px 0;
    text-align: center;
    height: 38px;
    line-height: 15px;
    color: #999;
	width:25%;
}

#nb-menu li .font-div {
    color: #999999 !important;
	margin-top:-7px;
}

#nb-menu li .menu-inside {
}

#nb-menu li .menu-inside span {
    display: block;
    margin: 0 auto 3px auto;
    width: 21px;
    height: 21px;
    background-size: contain !important;
}

#nb-menu li .menu-inside i {
    display: block;
    margin: 0 auto 0px auto;
    width: 25px;
    height: 25px;
    font-size: 25px;
	color: #999999;
	padding-top:3px;
	margin-bottom:3px;
    background-size: contain !important;
}

.link-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.nb-relative {
    position: relative;
    top: 0;
    left: 0;
}

/*goods-list-nb start*/
.goods-list-nb {
	width: 100%;
}
.goods-list-nb .boxts{
	width: 100%;
}
.goods-list-nbs {
	width: 100%;
}
.goods-list-nb .goods-a {
	display: block;
	position: relative;
}
.goods-list-nb a:hover {
	text-decoration: none;
}
.goods-list-nbs a:hover {
	text-decoration: none;
}
.goods-list-nb .goods-a .buy-over{background:url(../images/buy-over.png) no-repeat;background-size:cover;height:25%;padding-top:15%;width:40%;text-align:center;color:#fff;position:absolute;top:30%;left:50%;margin-left:-20%;text-indent:-200%;overflow:hidden;}
.goods-list-nb li {
	float: left;
	width: 47%;
	position:relative;
	margin: 2% 0 0 2%;
	background: rgba(255, 255, 255, 1);
}
.goods-list-nb.quan li {
	float: left;
	width:100%;
	position:relative;	
	margin:5px 0;
	background: rgba(255, 255, 255, 1);
}
.goods-list-nb.quan li  .goods-txt{
	float: right;
	width:60%;
	position:relative;	
	
}
.goods-list-nb li.boxt{
    float: left;
	width: 46.8%;
	position:relative;
	margin: 2% 0 0 1%;
	background: rgba(255, 255, 255, 1);
}
.goods-list-nbs li {
float: left;
width: 29.2%;
position: relative;
margin: 2% 0 0 1%;
background: rgba(255, 255, 255, 1);
text-align: center;
padding: 0 5px;
height: 40px;
line-height: 40px;
}
.goods-list-nbs li a{
text-align:center
}
.goods-list-nb li .new-icon {
	position: absolute;
	top: 0;
	left: 0;
	width: 28px;
	height: 28px;
}
.goods-list-nb .goods-a .icon{display:block;width:28px;height:16px;line-height:16px;text-align:center;position:absolute;top:0;left:0;color:#fff;font-size:12px;letter-spacing:-1px;}
.goods-list-nb .goods-a .icon.new{background:#66cc99;}
.goods-list-nb .goods-a .icons{display:block;width:28px;height:16px;line-height:16px;text-align:center;position:absolute;top:0;right:0;color:#fff;font-size:12px;letter-spacing:-1px;}
.goods-list-nb .goods-a .icons.new{background:#66cc99;}
.goods-list-nb .goods-a .icons.brand{background:#ff6699;}
.goods-list-nb li img {
	width: 100%;
	/*height: 13.2em; 屏幕图片控制*/
	position: relative;
	display:inherit;	
}

@media all and (orientation : landscape){ 

.goods-list-nb li img {
	
	/*height: 22.2em; 横屏显示比例*/
	
}

} 

.goods-list-nb.quan li img {
	width:40%;
	position: relative;
	display:inherit;	
	float:left
}
.goods-list-nb li h3 {
	width:100%;
	font-size: 12px;
	font-family: "Microsoft YaHei","黑体-简";
	font-weight: 300;
	color: #808080;
	height:26px;
	line-height:26px;
	background:rgba(255, 255, 255, 0.8);
	overflow:hidden;
	text-indent:5px;
}