/* dh */
.btndh {
	-webkit-animation: icon-bounce 2.5s infinite;
	-moz-animation: icon-bounce 2.5s infinite;
	-o-animation: icon-bounce 2.5s infinite;
	animation: icon-bounce 2.5s infinite;
}

.btnhb {
	-webkit-animation: icon-bounce 2.5s infinite;
	-moz-animation: icon-bounce 2.5s infinite;
	-o-animation: icon-bounce 2.5s infinite;
	animation: icon-bounce 2.5s infinite;
}

@keyframes icon-bounce {
	0%, 100% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		transform: rotate(0deg);
		-ms-transform: rotate(0deg);
	}

	79% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		transform: rotate(0deg);
		-ms-transform: rotate(0deg);
	}

	80% {
		-webkit-transform: rotate(15deg);
		-moz-transform: rotate(15deg);
		transform: rotate(15deg);
		-ms-transform: rotate(15deg);
	}

	85% {
		-webkit-transform: rotate(-15deg);
		-moz-transform: rotate(-15deg);
		transform: rotate(-15deg);
		-ms-transform: rotate(-15deg);
	}

	90% {
		-webkit-transform: rotate(5deg);
		-moz-transform: rotate(5deg);
		transform: rotate(5deg);
		-ms-transform: rotate(5deg);
	}

	95% {
		-webkit-transform: rotate(-5deg);
		-moz-transform: rotate(-5deg);
		transform: rotate(-5deg);
		-ms-transform: rotate(-5deg);
	}
}

@-webkit-keyframes icon-bounce {
	0%, 100% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		transform: rotate(0deg);
		-ms-transform: rotate(0deg);
	}

	79% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		transform: rotate(0deg);
		-ms-transform: rotate(0deg);
	}

	80% {
		-webkit-transform: rotate(15deg);
		-moz-transform: rotate(15deg);
		transform: rotate(15deg);
		-ms-transform: rotate(15deg);
	}

	85% {
		-webkit-transform: rotate(-15deg);
		-moz-transform: rotate(-15deg);
		transform: rotate(-15deg);
		-ms-transform: rotate(-15deg);
	}

	90% {
		-webkit-transform: rotate(5deg);
		-moz-transform: rotate(5deg);
		transform: rotate(5deg);
		-ms-transform: rotate(5deg);
	}

	95% {
		-webkit-transform: rotate(-5deg);
		-moz-transform: rotate(-5deg);
		transform: rotate(-5deg);
		-ms-transform: rotate(-5deg);
	}
}
/* dh */
/* 底部icon */

.bottom_icon {
	position: fixed;
	right: 15px;
	bottom: 160px;
	z-index: 44;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	background-image: linear-gradient(to right,#FBAA58,#FA4DBE);
	color: #ffffff;
	text-align: center;
	line-height: 45px;
}

.bottom_icon img {
	margin-top: 10px;
	width: 25px;
	height: 25px;
}
/* 底部icon */
/* 弹窗 */

.nb_tip_box {
	position: fixed;
	top: 0;
	right: -100%;
	z-index: 888;
	box-sizing: border-box;
	width: 100%;
	height: 1280px;
	background: rgba(0,0,0,.11);
	text-align: center;
	transition: ease-in 0.5s all;
	-webkit-transform: translateX(1);
	transform: translateX(1);
	webkit-transition: ease-in 0.5s all;
	-ms-transform: translateX(1);
}

.nb_tip_box_act {
	position: fixed;
	top: 0;
	right: 0px;
	z-index: 1000;
	box-sizing: border-box;
	width: 100%;
	height: 1280px;
	background: rgba(0,0,0,.66);
	text-align: center;
}

.nb_tip_inbox {
	position: fixed;
	top: 20%;
	left: 10%;
	z-index: 99999;
	margin: 0 auto;
	width: 80%;
	height: 210px;
	border-radius: 5px;
	background: #ffffff;
	transition: ease-in 0.5s all;
	-webkit-transform: translateX(-222%);
	transform: translateX(-222%);
	webkit-transition: ease-in 0.5s all;
	-ms-transform: translateX(-222%);
}

.nb_tip_inbox .tchead {
	height: 60px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	background-image: linear-gradient(to right,#FBAA58,#FA4DBE);
	color: #ffffff;
	font-size: 20px;
	line-height: 60px;
}

.nb_tip_inbt {
	height: 40px;
	color: #ff4719;
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	line-height: 40px;
}

.nb_tip_ininfo {
	margin: 0 auto;
	width: 80%;
}

.nb_tip_ininfo input {
	width: 100%;
	height: 40px;
	border: 1px #ff5500 dashed;
	border-radius: 5px;
	color: #ff1c8f;
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	line-height: 40px;
}

.nb_tip_inmain {
	font-size: 26px;
}

.nb_tip_btn {
	display: inline-block;
	margin: 0 auto;
	margin-top: 15px;
	width: 100px;
	height: 30px;
	height: 30px;
	border-radius: 5px;
	background: linear-gradient(to right, #ff4719 0%,#ff1c8f 100%);
	color: #ffffff;
	text-align: center;
	font-size: 16px;
	line-height: 30px;
}

.nb_tip_btn_2 {
	display: inline-block;
	margin: 0 auto;
	margin-top: 15px;
	margin-left: 10px;
	width: 100px;
	height: 30px;
	height: 30px;
	border-radius: 5px;
	background-image: linear-gradient(to right,#2771ea,#25bbe1);
	color: #ffffff;
	text-align: center;
	font-size: 16px;
	line-height: 30px;
}

.closebtn {
	position: absolute;
	right: 0px;
	bottom: -70px;
	left: 0px;
	margin: 0 auto;
}

.closebtn img {
	width: 36px;
	height: 72px;
}

.toggle_act {
	display: block;
	opacity: 1;
	-webkit-transition: ease-in 0.5s all;
	transition: ease-in 0.5s all;
	-webkit-transform: translateX(0);
	transform: translateX(0);
	-ms-transform: translateX(0);
}

#closkl {
	opacity: 0;
	transition: ease-in 0.5s all;
	-webkit-transform: translateX(1);
	transform: translateX(1);
	webkit-transition: ease-in 0.5s all;
	-ms-transform: translateX(1);
}

.closkl_act {
	opacity: 1 !important;
}
/* 弹窗 */
body,div,h1,h2,h3,h4,h5,h6,input,li,p,textarea,ul {
	margin: 0;
	padding: 0
}

img {
	border: 0
}

ol,ul {
	list-style: none
}

body,button,input,select,textarea {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-text-size-adjust: none;
	-webkit-overflow-scrolling: touch;
	outline: 0
}

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0
}

a {
	text-decoration: none
}

a:hover {
	color: #f60
}

*,:after,:before {
	-o-box-sizing: border-box;
	box-sizing: border-box;
	outline: 0
}

body {
	color: #333;
	font-size: 14px;
	line-height: 1.5;
	background: #fff;
	font-family: PingFang SC,Helvetica Neue,Hiragino Sans GB,Helvetica,Arial,Microsoft Yahei,\\5fae\8F6F\96c5\9ED1,STHeiti,\\534e\6587\7EC6\9ED1,sans-serif
}

a,a:hover {
	color: inherit
}

img {
	max-width: 100%;
	transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	-o-transition: .5s
}

.nb_banner a {
	display: block
}

.nb_banner a img {
	display: block;
	width: 100%
}

.nb_nav_slot {
	position: relative;
	height: 41px
}

.nb_nav_div {
	position: absolute;
	width: 100%;
	z-index: 99;
	line-height: 40px;
	border-bottom: 1px solid #e3e3e3;
	height: 41px;
	overflow: hidden;
	background-color: #fff;
	padding-right: 50px
}

.nb_nav_slot .filter-icon {
	position: absolute;
	top: 0;
	right: 0;
	width: 50px;
	height: 40px;
	background-color: #fff;
	border: none;
	box-shadow: 0 0 10px rgba(0,0,0,.4);
	background: url(../images/icon-down.png) no-repeat center center;
	background-size: 15px auto
}

.nb_nav_ul {
	font-size: 0;
	white-space: nowrap;
	overflow-x: auto
}

.nb_nav_ul .nb_li {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	font-size: 9pt
}

.nb_nav_ul .nb_li a {
	display: block;
	padding: 0 15px;
	min-width: 78px
}

.nb_nav_ul .nb_li.active span {
	position: relative;
	display: inline-block;
	color: #ff4201
}

.nb_nav_ul .nb_li.active span:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 3px;
	width: 100%;
	background-color: #ff4201
}

.nb_tip_bg {
	display: none;
	height: 100%;
	background-color: rgba(34,34,34,.6)
}

.nb_nav_div_more,.nb_tip_bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%
}

.nb_nav_div_more {
	background-color: #fff;
	z-index: 100;
	overflow: hidden;
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
	-webkit-transition: .3s .3s;
	transition: .3s .3s
}

.nb_nav_div_more .nb_li {
	float: left;
	width: 25%;
	text-align: center;
	line-height: 38px;
	margin: 5px 0 0
}

.nb_nav_div_more .nb_li.active {
	color: #ff4201
}

.nb_nav_div_more.nb_nav_open {
	top: 41px;
	-webkit-transform: translateY(0);
	transform: translateY(0)
}

.nb_list {
	overflow: hidden
}

.nb_list .nb_list_ul {
	display: none
}

.nb_list .nb_list_ul.active {
	display: block
}

.nb_list .nb_li {
	overflow: hidden;
	display: block
}

.nb_list .nb_li .pic {
	float: left;
	width: 110px;
	height: 110px
}

.nb_list .nb_li .pic img {
	display: block;
	width: 100%;
	height: 100%
}

.nb_list .nb_li .txt {
	overflow: hidden;
	border-bottom: 1px solid #e3e3e3;
	padding: 5px 10px
}

.nb_list .nb_li .name {
	font-size: 13px;
	line-height: 19px;
	color: #4a4a4a;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	height: 38px
}

.nb_list .nb_li .name .icon {
	height: 13px;
	margin-right: 5px;
	line-height: 1;
	display: inline-block;
	vertical-align: top;
	position: relative;
	top: 2.5px
}

.nb_list .nb_li .info {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-nb_lis: center;
	align-nb_lis: center;
	color: #9b9b9b;
	font-size: 9pt;
	padding: 5px 0
}

.nb_list .nb_li .price i {
	font-style: normal;
	text-decoration: line-through
}

.quan_info {
	margin-top: 10px;
	overflow: hidden
}

.quan_icon {
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #f50;
	display: inline;
	font-size: 9pt;
	border-radius: 2px;
	height: 14px;
	line-height: 14px;
	overflow: hidden;
	margin-right: 9pt;
	position: relative
}

.quan_icon .quan_icon_l {
	position: absolute;
	left: 0;
	top: 0;
	display: inline-block;
	width: 1pc;
	height: 15px;
	color: #fff;
	background: #f50;
	text-align: center
}

.quan_icon .quan_icon_r {
	color: #f50;
	display: inline-block;
	padding-right: 2px;
	padding-left: 20px
}

.quan_info .quan_tit {
	display: inline-block;
	font-size: 9pt;
	color: #9b9b9b;
	vertical-align: middle
}

.quan_info .quan_fee2 {
	display: inline-block;
	vertical-align: middle;
	font-size: 1pc;
	color: #f40
}

.quan_info .quan_fee2 i {
	font-style: normal;
	font-size: .7em;
	position: relative;
	top: -2px
}

.quan_info .quan_fee2 {
	font-weight: 700
}

.nb_list .nb_li .pic {
	padding: 3px 0
}

.nb_nav_slot.nb_nav_fix {
	position: fixed;
	top: 0;
	width: 100%;
	left: 0;
	z-index: 99
}

.go_top {
	width: 55px;
	height: 55px;
	border-radius: 50%;
	background: url(../images/gotop.png) no-repeat center center;
	background-size: 100% auto;
	position: fixed;
	bottom: 75pt;
	right: 10px;
	z-index: 3
}

.nb_nav_slot .filter-icon {
	z-index: 100
}

.nb_tip_bg {
	z-index: 50
}
/*皮肤*/
a,body,html {
	color: #333
}

a,a:hover {
	text-decoration: none
}

a:focus,button {
	outline: 0
}

body,html {
	font-size: 14px;
	font-family: Arial,Helvetica,sans-serif,"Microsoft YaHei";
	padding: 0;
	margin: 0;
	-webkit-tap-highlight-color: transparent
}

a:focus {
	-moz-outline: none
}

img {
	border: 0
}

dd,dl,dt,h1,h2,h3,h4,h5,h6,input,li,ol,p,textarea,ul {
	padding: 0;
	margin: 0;
	list-style-type: none
}

.row-s {
	clear: both
}

.row-s .col-1,.row-s .col-10,.row-s .col-11,.row-s .col-12,.row-s .col-2,.row-s .col-3,.row-s .col-4,.row-s .col-5,.row-s .col-6,.row-s .col-7,.row-s .col-8,.row-s .col-9,.row-s .col-sm-1,.row-s .col-sm-10,.row-s .col-sm-11,.row-s .col-sm-12,.row-s .col-sm-2,.row-s .col-sm-3,.row-s .col-sm-4,.row-s .col-sm-5,.row-s .col-sm-6,.row-s .col-sm-7,.row-s .col-sm-8,.row-s .col-sm-9 {
	float: left
}

.row-s .col-1 {
	width: 8.33333333%
}

.row-s .col-2 {
	width: 16.66666667%
}

.row-s .col-3 {
	width: 25%
}

.row-s .col-4 {
	width: 33.33333333%
}

.row-s .col-5 {
	width: 41.66666667%
}

.row-s .col-6 {
	width: 50%
}

.row-s .col-7 {
	width: 58.33333333%
}

.row-s .col-8 {
	width: 66.66666667%
}

.row-s .col-9 {
	width: 75%
}

.row-s .col-10 {
	width: 83.33333333%
}

.row-s .col-11 {
	width: 91.66666667%
}

.row-s .col-12 {
	width: 100%
}

.row-s .col-sm-1 {
	width: 10%
}

.row-s .col-sm-2 {
	width: 20%
}

.row-s .col-sm-3 {
	width: 30%
}

.row-s .col-sm-4 {
	width: 40%
}

.row-s .col-sm-5 {
	width: 50%
}

.row-s .col-sm-6 {
	width: 60%
}

.row-s .col-sm-7 {
	width: 70%
}

.row-s .col-sm-8 {
	width: 80%
}

.row-s .col-sm-9 {
	width: 90%
}

.row-s .col-sm-10 {
	width: 100%
}

.ov_h {
	overflow: hidden;
	height: 0;
	clear: both
}

.row-mar {
	margin: 0 15px
}

.text-right {
	text-align: right
}

.text-left {
	text-align: left
}

.opacity8 {
	-khtml-opacity: .95;
	-moz-opacity: .95;
	opacity: .95;
	filter: alpha(opacity=95)
}

.opacity3 {
	-khtml-opacity: .3;
	-moz-opacity: .3;
	opacity: .3;
	filter: alpha(opacity=30)
}

.fr {
	float: right
}

.fl,.row-s .col-10-1,.row-s .col-10-10,.row-s .col-10-11,.row-s .col-10-12,.row-s .col-10-2,.row-s .col-10-3,.row-s .col-10-4,.row-s .col-10-5,.row-s .col-10-6,.row-s .col-10-7,.row-s .col-10-8,.row-s .col-10-9,.row-s .col-12-1,.row-s .col-12-10,.row-s .col-12-11,.row-s .col-12-12,.row-s .col-12-2,.row-s .col-12-3,.row-s .col-12-4,.row-s .col-12-5,.row-s .col-12-6,.row-s .col-12-7,.row-s .col-12-8,.row-s .col-12-9 {
	float: left
}

.clear:after,.clear:before {
	display: block;
	clear: both;
	content: ""
}

.font-size-12 {
	font-size: 1rem
}

html.no,html.no body {
	overflow: hidden
}

.row-s:after,.row-s:before {
	content: "";
	display: block
}

.row-s .col-12-1 {
	width: 8.33333333%
}

.row-s .col-12-2 {
	width: 16.66666667%
}

.row-s .col-12-3 {
	width: 25%
}

.row-s .col-12-4 {
	width: 33.33333333%
}

.row-s .col-12-5 {
	width: 41.66666667%
}

.row-s .col-12-6 {
	width: 50%
}

.row-s .col-12-7 {
	width: 58.33333333%
}

.row-s .col-12-8 {
	width: 66.66666667%
}

.row-s .col-12-9 {
	width: 75%
}

.row-s .col-12-10 {
	width: 83.33333333%
}

.row-s .col-12-11 {
	width: 91.66666667%
}

.row-s .col-12-12 {
	width: 100%
}

.row-s .col-10-1 {
	width: 10%
}

.row-s .col-10-2 {
	width: 20%
}

.row-s .col-10-3 {
	width: 30%
}

.row-s .col-10-4 {
	width: 40%
}

.row-s .col-10-5 {
	width: 50%
}

.row-s .col-10-6 {
	width: 60%
}

.row-s .col-10-7 {
	width: 70%
}

.row-s .col-10-8 {
	width: 80%
}

.row-s .col-10-9 {
	width: 90%
}

.row-s .col-10-10 {
	width: 100%
}

.col-mar {
	margin: 0 1rem
}

html.ov_h {
	height: 100%;
	overflow: hidden
}

html.ov_h body {
	overflow: hidden
}

.row-mar {
	margin: 0 15px
}

.text-right {
	text-align: right
}

.text-left {
	text-align: left
}

.btn,.default_msg,.default_msg i.iconfont,.text-center {
	text-align: center
}

.col-main {
	color: #FC3F78
}

.col-green {
	color: #19B933
}

.col-money {
	color: #FC4D52
}

.col-red {
	color: #F72239
}

.col-darkblue {
	color: #3172B9
}

.col-gray {
	color: #7F8EA4
}

.col-888 {
	color: #888
}

.col-666 {
	color: #666
}

.col-link {
	color: #1991EB
}

a.col-gray:hover {
	color: #FC3F78
}

.col-hr {
	color: #EEE
}

.col-aaa {
	color: #aaa
}

.col-primary,a.col-primary:hover {
	color: #FC3F78
}

.col-secondary {
	color: #acb0b5
}

.goods-two li,.icon_msg.up {
	transition: all .4s ease 0s
}

.icon_msg.up {
	opacity: 0;
	-webkit-transform: translateY(-50px) translateX(0);
	transform: translateY(-50px) translateX(0);
	-o-transition: all .4s ease 0s;
	-moz-transition: all .4s ease 0s;
	-webkit-transition: all .4s ease 0s;
	transform-origin: center
}

.hr {
	background: #F5F5F5;
	height: .5rem
}

.goods_def {
	text-align: center;
	padding: 3rem 0
}

.goods_def .iconfont {
	font-size: 4rem;
	color: #999
}

.goods_def .text {
	text-indent: center;
	padding: .8rem;
	color: #999
}

.goods_def .button .btn {
	padding-right: 40px;
	padding-left: 40px
}

.no_new_item {
	text-align: center;
	padding: 20px
}

.no_new_item span {
	position: relative;
	z-index: 1;
	zoom: 1;
	padding: 0 10px;
	display: inline-block;
	color: #999
}

.no_new_item span:after,.no_new_item span:before {
	content: "";
	height: 1px;
	overflow: hidden;
	top: 50%;
	left: -4rem;
	width: 4rem;
	background: #eee;
	display: block;
	position: absolute;
	z-index: 1;
	zoom: 1
}

.no_new_item span:before {
	left: auto;
	right: -4rem
}

.goods-new {
	clear: both
}

.goods-new li .cent {
	background: #fff;
	margin: 0 2.5px 5px 0
}

.goods-new li:nth-child(2n) .cent {
	margin: 0 0 5px 2.5px
}

.goods-new li .cent a.img {
	display: block;
	overflow: hidden;
	position: relative;
	z-index: 1;
	zoom: 1
}

.goods-new li .cent a.img .tab {
	position: absolute;
	z-index: 1;
	zoom: 1;
	left: 5px;
	top: 0;
	width: 71px
}

.goods-new li .cent a.img .tab img {
	display: block;
	width: 100%;
	top: -1px;
	position: relative
}

.goods-new li .cent a.img .tab p {
	text-align: center;
	color: #433134;
	overflow: hidden;
	font-size: .785rem;
	position: relative;
	z-index: 1;
	zoom: 1;
	top: -1.6rem;
	line-height: 1.6rem;
	height: 1.6rem
}

.goods-new li .cent a.img .tab p span {
	color: #FF0036
}

.goods-new li .cent a.img img {
	width: 100%;
	display: block
}

.goods-new li .cent .bt {
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: 400;
	margin: 0;
	color: #333
}

.goods-new li .cent .num {
	font-size: 12px;
	color: #888;
	padding: 5px 0 20px;
	text-overflow: ellipsis;
	white-space: nowrap
}

.goods-new li .cent .money {
	color: #FC4D52;
	white-space: nowrap;
	font-size: 18px;
	position: relative;
	top: 2px;
	line-height: 22px;
	height: 22px
}

.goods-new li .cent .money span,.goods-new li .cent .quan i {
	font-size: 12px;
	color: #FC4D52
}

.goods-new li .cent .quan,.goods-new li .cent .quan i {
	position: relative;
	z-index: 1;
	padding: 1px 0;
	top: 1px;
	display: block
}

.goods-new li .cent .quan {
	overflow: hidden;
	width: 60px;
	float: right;
	height: 30px;
}

/*two*/
.goods-new li .cent .quan i {
	font-style: normal;
	border-radius: 3px;
	text-align: center;
	border: 1px solid #fd5a5f;
	text-overflow: ellipsis;
	white-space: nowrap;
	background: #fff;
	color: #fd5a5f;
	padding: 3px 0px;
}

.goods-new li .cent .quan i:after,.goods-new li .cent .quan i:before {
	position: absolute;
	left: -4px;
	top: 50%;
	margin-top: -3px;
	background: #fff;
	display: block;
	width: 5px;
	height: 5px;
	content: "";
	border-radius: 10px;
	border: 1px solid #fd5a5f;
}
/*two*/

.goods-two li,.goods-two li .img {
	position: relative;
	z-index: 1;
	zoom: 1
}

.goods-new li .cent .quan i:before {
	left: auto;
	right: -4px
}

.goods-new li .mar {
	margin: 0 10px;
	padding-bottom: 13px
}

@media only screen and (max-width:360px) {
	.goods-new li .cent .money {
		font-size: 14px
	}
}

.goods-two li {
	padding: .7rem 0 0 .7rem;
	-o-transition: all .4s ease 0s;
	-moz-transition: all .4s ease 0s;
	-webkit-transition: all .4s ease 0s;
	transform-origin: center
}

.goods-two li:active,.goods-two li:hover {
	background: #fdfdfd
}

.goods-two li:active h3,.goods-two li:hover h3 {
	opacity: .5;
	filter: alpha(opacity=50)
}

.goods-two li .img {
	float: left;
	width: 8rem;
	height: 8rem;
	background: #eee;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px
}

.goods-two li .img img {
	width: 8rem;
	height: 8rem;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	display: block
}

.goods-two li .img a {
	display: block
}

.goods-two li .img .goods_tag {
	padding: 1px 10px;
	border-radius: 0 2px 2px 0;
	-moz-border-radius: 0 2px 2px 0;
	-webkit-border-radius: 0 2px 2px 0;
	-o-border-radius: 0 2px 2px 0;
	-ms-border-radius: 0 2px 2px 0;
	background: -moz-linear-gradient(left,#D95AFF 0,#7281FD 100%);
	background: -webkit-gradient(linear,left top,left right,color-stop(0,#D95AFF),color-stop(100%,#7281FD));
	background: -webkit-linear-gradient(left,#D95AFF 0,#7281FD 100%);
	background: -o-linear-gradient(left,#D95AFF 0,#7281FD 100%);
	background: -ms-linear-gradient(left,#D95AFF 0,#7281FD 100%);
	background: linear-gradient(to left,#D95AFF 0,#7281FD 100%);
	position: absolute;
	z-index: 1;
	zoom: 1;
	left: 0;
	top: 0;
	color: #fff;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 70%;
	font-size: .785rem
}

.goods-two li div.cent {
	height: 8rem;
	padding-bottom: .7rem;
	position: relative;
	z-index: 1;
	zoom: 1;
	margin-left: 9rem;
	top: .4rem
}

.goods-two li div.cent h3 {
	line-height: 1.6rem;
	font-size: 1rem;
	font-weight: 400;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	height: 3.4rem;
	margin-right: 10px;
	margin-bottom: 0rem;
	overflow: hidden
}

.goods-two li div.cent .quan {
	overflow: hidden;
	display: inline-block;
	padding: .5rem 0
}

.goods-two li div.cent .quan i {
	background: -moz-linear-gradient(left,#FF5E5E 0,#FF927C 100%);
	background: -webkit-gradient(linear,left top,left right,color-stop(0,#FF5E5E),color-stop(100%,#FF927C));
	background: -webkit-linear-gradient(left,#FF5E5E 0,#FF927C 100%);
	background: -o-linear-gradient(left,#FF5E5E 0,#FF927C 100%);
	background: -ms-linear-gradient(left,#FF5E5E 0,#FF927C 100%);
	background: linear-gradient(to left,#FF5E5E 0,#FF927C 100%);
	position: relative;
	z-index: 1;
	zoom: 1;
	font-style: normal;
	display: block;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	font-size: .785rem;
	min-width: 3rem;
	text-align: center;
	padding: 1px 10px;
	color: #fff
}

.goods-two li div.cent .quan i:after,.goods-two li div.cent .quan i:before {
	position: absolute;
	z-index: 1;
	zoom: 1;
	left: -4px;
	top: 50%;
	margin-top: -3px;
	background: #fff;
	display: block;
	width: 5px;
	height: 5px;
	content: "";
	border-radius: 10px;
	border: 1px solid #fff
}

.goods-two li div.cent .quan i:before {
	left: auto;
	right: -4px
}

.goods-two li div.cent .money {
	font-size: .785rem;
	height: 24px
}

.goods-two li div.cent .money span {
	font-size: 1.3rem;
	margin-right: .5rem
}

.goods-two li div.cent .money span i {
	font-size: .785rem;
	font-style: normal
}

.goods-two li div.cent .money .quan {
	padding: 0;
	position: relative;
	z-index: 1;
	zoom: 1;
	top: 0;
	margin-right: 10px;
	overflow: hidden
}

.goods-two li div.cent .money .quan i {
	padding: 3px 10px
}

.goods-two li div.cent .col-aaa {
	font-size: .785rem;
	color: #aaa;
	line-height: 1.5rem;
	padding-top: .5rem;
	padding-right: 10px
}

.goods-two li div.cent .col-aaa span:nth-child(1) {
	padding-right: 10px;
	margin-right: 10px;
	position: relative;
	z-index: 1;
	zoom: 1;
	display: inline-block
}

@media only screen and (min-width:350px) {
	.goods-two li .img,.goods-two li .img img {
		width: 9rem;
		height: 9rem
	}

	.goods-two li div.cent {
		height: 9rem;
		margin-left: 10.5rem
	}

	.goods-two li div.cent .col-aaa {
		padding-top: 1rem
	}
}

.goods-two li>div.label {
	display: block
}

.goods-two li>div.label input[type=checkbox] {
	display: none
}

.goods-two li>div.label label {
	height: 50px
}

.goods-two li>div.label i.iconfont {
	color: #aaa;
	width: 3rem;
	margin-top: -.7rem;
	position: absolute;
	zoom: 1;
	left: -2.7rem;
	top: 50%;
	font-size: 1.4rem;
	z-index: 10;
	text-align: center;
	font-family: iconfont!important
}

.goods-two li>div.label i.iconfont:before {
	content: "\e65c"
}

.goods-two li>div.label input[type=checkbox]:checked+i.iconfont:before {
	content: "\e716";
	color: #FC3F78
}

.goods-two li>div.label>.remove {
	position: absolute;
	z-index: 1;
	zoom: 1;
	height: 100%;
	top: 0;
	left: 100%;
	width: 6rem;
	line-height: 9.4rem;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-o-border-radius: 0;
	-ms-border-radius: 0;
	padding: 0;
	color: #fff;
	display: table-cell;
	text-align: center
}

.ui_load,.weixin-msg {
	position: fixed;
	zoom: 1;
	left: 0;
	top: 0
}

@media only screen and (min-width:350px) {
	.goods-two li>div.label .img {
		line-height: 10.4rem
	}
}

.goods-two li.active {
	-webkit-transform: translateY(0) translateX(3rem);
	transform: translateY(0) translateX(3rem)
}

.goods-two li.active_r {
	-webkit-transform: translateY(0) translateX(-6rem);
	transform: translateY(0) translateX(-6rem)
}

.goods-two li:last-child div.cent {
	border-bottom: 0
}

.fq-goods-ticket {
	position: relative;
	border: 0px solid #fd5a5f;
	border-radius: 2px;
	color: #fd5a5f;
	text-align: center;
	font-size: 12px;
}

.fq-goods-ticket text:first-child {
	border-right: 1px dashed #fd5a5f;
}

.fq-goods-ticket text {
	padding: 0 2px;
}

.fq-goods-ticket text:last-child {
	position: relative;
	left: -1px;
	padding-left: 0;
}

.fq-goods-ticket text {
	padding: 0 2px;
}

/*值得买*/
.home_ant_voucher {
	overflow: hidden;
	position: relative;
	z-index: 0
}

.home_ant_brand .swiper-container,.home_ant_voucher .swiper-container {
	margin-bottom: 5px;
	padding: .5rem 5px 10px 10px
}

.home_ant_brand .swiper-wrapper,.home_ant_voucher .swiper-wrapper {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex
}

.home_ant_brand .swiper-wrapper,.home_ant_voucher .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
	bottom: 5.5px;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 3.45px;
}

.swiper-pagination-bullet {
	height: 5.67px;
	width: 5.67px;
}

.swiper-pagination-bullet-active {
	opacity: 0.8;
	background: -moz-linear-gradient(left,rgba(255,113,233,.91) 0,rgba(254,92,158,.91) 100%);
	background: -webkit-gradient(linear,left top,left right,color-stop(0,rgba(255,113,233,.91)),color-stop(100%,rgba(254,92,158,.91)));
	background: -webkit-linear-gradient(left,rgba(255,113,233,.91) 0,rgba(254,92,158,.91) 100%);
	background: -o-linear-gradient(left,rgba(255,113,233,.91) 0,rgba(254,92,158,.91) 100%);
	background: -ms-linear-gradient(left,rgba(255,113,233,.91) 0,rgba(254,92,158,.91) 100%);
	background: linear-gradient(to left,rgba(255,113,233,.91) 0,rgba(254,92,158,.91) 100%);
}

.home_ant_brand div.swiper-slide,.home_ant_voucher div.swiper-slide {
	-webkit-flex-shrink: 0;
	-ms-flex: 0 0 auto;
	display: block;
	flex-shrink: 0;
	width: 40%
}

.home_ant_brand div.swiper-slide .img,.home_ant_voucher div.swiper-slide .img {
	display: block;
	position: relative;
	zoom: 1;
	z-index: 1;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px
}

.home_ant_brand div.swiper-slide .img img,.home_ant_voucher div.swiper-slide .img img {
	width: 100%;
	display: block;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px
}

.home_ant_brand div.swiper-slide .img .text,.home_ant_voucher div.swiper-slide .img .text {
	position: absolute;
	zoom: 1;
	z-index: 10;
	bottom: 0;
	left: -4px;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	background: -moz-linear-gradient(left,rgba(255,113,233,.91) 0,rgba(254,92,158,.91) 100%);
	background: -webkit-gradient(linear,left top,left right,color-stop(0,rgba(255,113,233,.91)),color-stop(100%,rgba(254,92,158,.91)));
	background: -webkit-linear-gradient(left,rgba(255,113,233,.91) 0,rgba(254,92,158,.91) 100%);
	background: -o-linear-gradient(left,rgba(255,113,233,.91) 0,rgba(254,92,158,.91) 100%);
	background: -ms-linear-gradient(left,rgba(255,113,233,.91) 0,rgba(254,92,158,.91) 100%);
	background: linear-gradient(to left,rgba(255,113,233,.91) 0,rgba(254,92,158,.91) 100%);
	color: #fff;
	padding: 3px 4px;
	font-size: .785rem;
	text-align: center
}

.home_ant_brand div.swiper-slide .img .text span,.home_ant_voucher div.swiper-slide .img .text span {
	font-size: .7rem
}

.home_ant_brand div.swiper-slide .img .text i,.home_ant_voucher div.swiper-slide .img .text i {
	font-style: normal;
	opacity: .6
}

.home_ant_brand div.swiper-slide .img .msg,.home_ant_voucher div.swiper-slide .img .msg {
	position: absolute;
	zoom: 1;
	z-index: 2;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	color: #fff;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.4);
	left: 0;
	top: 0;
	line-height: 100%;
	text-align: center;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center
}

.home_ant_brand div.swiper-slide .name,.home_ant_voucher div.swiper-slide .name {
	line-height: 2rem;
	font-size: 1rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.home_ant_brand div.swiper-slide .money,.home_ant_voucher div.swiper-slide .money {
	color: #FC4D52;
	font-size: 1.2rem;
	padding-bottom: 10px
}

.home_ant_brand div.swiper-slide .money i,.home_ant_voucher div.swiper-slide .money i {
	font-style: normal;
	font-size: .7rem;
	margin-right: 3px
}

.home_ant_brand div.swiper-slide .money del,.home_ant_voucher div.swiper-slide .money del {
	color: #bbb;
	font-size: 1rem
}

.home_ant_brand div.swiper-slide .swiper-cent,.home_ant_voucher div.swiper-slide .swiper-cent {
	margin-right: 5px;
	height: 100%
}

.home_ant_brand div.swiper-slide .swiper-cent .cent,.home_ant_voucher div.swiper-slide .swiper-cent .cent {
	padding: 10px 10px 0;
	border-radius: 8px 8px 0 0;
	box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
	position: relative;
	z-index: 1;
	zoom: 1
}

.home_ant_brand div.swiper-slide .swiper-cent .cent .progress,.home_ant_voucher div.swiper-slide .swiper-cent .cent .progress {
	position: absolute;
	z-index: 1;
	zoom: 1;
	left: 0;
	bottom: 0;
	overflow: hidden;
	height: 3px;
	background-color: #FFD6EC;
	width: 100%
}

.home_ant_brand div.swiper-slide .swiper-cent .cent .progress i,.home_ant_voucher div.swiper-slide .swiper-cent .cent .progress i {
	display: block;
	height: 3px;
	overflow: hidden;
	background-color: #FF66B7;
	width: 5px;
	transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-webkit-transition: all 1s ease 0s;
	transform-origin: center
}

.home_ant_brand .home_h3,.home_ant_voucher .home_h3 {
	padding-bottom: 0
}

.home_ant_brand .home_h3 .text-right span,.home_ant_voucher .home_h3 .text-right span {
	color: #FC4D52
}

.home_h3 .text-right {
	top: -.2rem;
	color: #aaa;
	font-size: .785rem;
	line-height: 1.6rem;
	font-weight: normal;
}

.home_h3 .text-left:before {
	content: "";
	float: left;
	top: .35rem;
	width: 3px;
	height: .8rem;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	background: -moz-linear-gradient(top,#ff5d06 0,#fc3f78 100%);
	background: -webkit-gradient(linear,top top,top right,color-stop(0,#ff5d06),color-stop(100%,#fc3f78));
	background: -webkit-linear-gradient(top,#ff5d06 0,#fc3f78 100%);
	background: -o-linear-gradient(top,#ff5d06 0,#fc3f78 100%);
	background: -ms-linear-gradient(top,#ff5d06 0,#fc3f78 100%);
	background: linear-gradient(to top,#ff5d06 0,#fc3f78 100%);
	margin-right: .5rem
}

.home_ant_banner>div,.home_ant_list li .time,.home_h3 .text-left:before,.home_h3 .text-right,.home_h3 .text-right span {
	position: relative;
	z-index: 1;
	zoom: 1
}

.home_h3 .text-left {
	font-size: 1.1rem;
	line-height: 1.6rem;
	color: #666;
	font-weight: normal;
}
/*值得买*/
.yuezhuan {
	position: absolute;
	bottom: 4px;
	right: 0px;
	width: auto;
	background: linear-gradient(to left,#FF5E5E 0,#FF927C 100%);
	color: #fff;
	padding: 2.22px 4.44px 2.22px 7px;
	font-size: .785rem;
	text-align: center;
	opacity: 0.876;
	border-radius: 30px 0 0 30px;
}

.yuezhuan span {
	background: linear-gradient(to left,#FF5E5E 0,#FF927C 100%);
	padding: 3px 8px;
	margin-right: 5px;
	border-radius: 5px;
}