.goods-list {
  background: #efefef;
}
.goods-container {
  background-color: #fff;
  border-top: 1px solid #ebebeb;
}
.goods-square-item {
    width: 41%;
	margin-left: 16px;
	margin-right: 14px;
	margin-top: 5px;
	font-size: 14px;
	background-color: #fff;
	display: inline-block;

}
.goods-square-item .goods-img {
    position: relative;
	height: 100%;
	width: 100%;
}
.goods-square-item .goods-text {
    padding: 6px 2px;
	line-height: 1;
	font-size: 12px;
	color: #3b3b3b;
	overflow: hidden;
}
.goods-square-item .goods-text .goods_detail {
    width: 100%;
	height: 100%;
	box-sizing: border-box;
}
.goods-square-item .goods-title {
    width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding-bottom: 8px;
}
.goods-square-item .goods-text__price {
    line-height: 15px;
	color: #ff464e;
	font-size: 15px;

}
.goods-text-extra {
    height: 40px;
	border-top: 1px dashed #fff;
	flex-direction: row;
	align-items: center;
	position: relative;
	font-size: 8px;

}
.goods-text-extra .good-comment-rate {
    position: absolute;
	left: 2px;

}
.goods-text-extra label {
	color: #999999;
	font-size: 12px;
	line-height: 40px;

}
.goods-text-extra .sale-amount {
    position: absolute;
	right: 4px;

}




