body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { margin:0;padding:0;}
body{ background:#f5f5f5;color:#333;}
body,button,input,select,textarea{font-size:12px;font-family:Arial,"Lucida Grande",Verdana,"Microsoft YaHei",sans-serif;}
input,select,textarea{font-size:100%;font-family:Arial,"Lucida Grande",Verdana,"Microsoft YaHei",sans-serif;}
table{border-collapse:collapse;border-spacing:0;table-layout:fixed;}
th{text-align:inherit;}
fieldset,img{border:0;}
ol,ul {list-style:none;}
a:hover {text-decoration:none;}
ins,a {text-decoration:none;outline: none;}
a{hide-focus: expression(this.hideFocus=true);}
i, em{font-style: normal;}
textarea{resize: none;outline-style: none;}
.clear{clear:both}
.color_51040a{color:#333}
.color_fff{color:#fff}
.red{color:#ff524b}
.bigFont{font-size:24px; font-family:Arial}
.normalFont{font-size:18px; font-family:Arial}
.fl{float:left}
.fr{float:right}
.pl_10{padding-left:10px;}
.clearfix:after{content:"";clear:both;height:0;overflow:hidden;display:block}
a,input,select,textarea{-webkit-tap-highlight-color: rgba(255,255,255,0);}


header{height:192px; padding-top:28px; text-align:center}
.x_header{height:92px;width:92px; margin:0 auto; border-radius:50px;overflow:hidden}
.x_shopName{line-height:20px; font-size:16px;color:#fff; height:20px;overflow:hidden;margin-top:10px;}
header span{margin:5px 0;padding:0 8px;height:18px;line-height:18px; color:#fff; display:inline-block; background:#ffa300; border-radius:10px;}
header p{color:#fff;line-height:30px;height:30px;overflow:hidden;}
.x_destine{height:72px;padding:24px;border-bottom:1px solid #dddddd; background:#fff; display:-webkit-box; display:box;}
.x_destine li{-webkit-box-flex:2; box-flex:2;height:72px;border-right:1px solid #dddddd;}
.x_destine li a{height:72px; display:block; text-align:center;color:#75808a}
.x_destine li a span{display:block;padding-top:10px;}
.x_destine li:last-child{border:none}
.x_conTitle{padding:12px 10px 0;line-height:36px; display:-webkit-box; display:box;}
.x_conTitle p{ display:block; -webkit-box-flex:1; box-flex:1;height:14px; font-size:14px;color:#333; line-height:14px;padding:11px 0;}
.x_conTitle p s{ float:left;margin-right:8px;width:4px;height:14px; background:#65c201}
.x_conTitle a{color:#adadad}
.x_conList ul{padding:0 5px;}
.x_conList ul li{margin-bottom:14px;}
.x_conList ul li a{display:block; min-height:210px; position:relative}
.x_conList ul li a img{display:block; width:100%;min-height:210px;}
.x_Icon{width:60px;height:24px; background:rgba(0,0,0,0.5);color:#fff; position:absolute; top:10px;left:10px; text-align:center; line-height:24px; border-radius:2px;}
.x_conText{height:50px; background:-webkit-linear-gradient(top, rgba(255,255,255,0)0%, rgba(255,255,255,0) 30%, rgba(0,0,0,0.8)); width:100%;position: absolute;bottom:0;left:0; display:-webkit-box;padding:0 10px 5px 10px; box-sizing:border-box}
.x_conText p{-webkit-box-flex:1; height:40px;line-height:20px;margin-bottom:5px; display:block; overflow:hidden; font-size:14px; color:#fff; position:relative}
.x_conText p em{position:absolute;width:100%;line-height:20px;bottom:0;left:0px;overflow : hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.x_conText span{font-size:14px;  color:#fff;padding-left:20px;padding-bottom:5px;line-height:18px;height: 40px;display: table-cell;vertical-align: bottom;}
.x_submitBtn{padding:0 14px;height:45px;}
.x_submitBtn a{height:40px; border-radius:23px;color:#fff; background:#65c201; display:block; text-align:center;line-height:40px; font-size:14px;}
.x_submitBtn a:active{ background:#85bc00}
.pd_3{padding:0 3px;}
.red{color:#ff524b}
.bigFont{font-size:24px; font-family:Arial}

.x_footer{height:56px;padding:25px 0 20px 0; display:-webkit-box; display:box}
.x_footer li{height:56px; -webkit-box-flex:4; box-flex:4; border-right:1px solid #dddddd}
.x_footer li:last-child{border:none}
.x_footer li a{display:block;height:18px; line-height:24px;padding-top:32px; text-align:center; color:#333}
.iconlist_1{background:url(./images/x_registerIcon.png) center 0 no-repeat; background-size:35px 32px;}
.iconlist_2{background:url(./images/x_loginIcon.png) center 0 no-repeat; background-size:35px 32px;}
.iconlist_3{background:url(./images/x_searchIcon.png) center 0 no-repeat; background-size:35px 32px;}
.iconlist_4{background:url(./images/x_goBack.png) center 0 no-repeat; background-size:35px 32px;}
.x_company{color:#ccc; font-size:13px; text-align:center;line-height:16px;padding-bottom:20px;}

.x_pageHeader{height:96px; text-align:center;padding:25px 10%;}
.x_pageName{display:inline-block;height:96px;}
.x_pageName img{width:90px;height:90px;overflow:hidden; display:inline-block; border-radius:50px;border:3px solid #fff; vertical-align:top}
.x_pageName p{display:inline-block;height:75px;padding:25px 0 0 10px; text-align:left}
.x_pageName p em{display:block;overflow:hidden; text-overflow:ellipsis;white-space:nowrap;line-height:26px;  font-size:16px; color:#fff}
.x_pageName p span{height:18px;line-height:18px; display:inline-block;padding:0 10px; background:#ffa300; border-radius:9px;color:#fff; font-size:12px;margin-top:5px; overflow:hidden}
.x_pageNav{display:-webkit-box; display:box;height:60px;padding:14px 0; border-bottom:1px solid #dddddd; background:#fff}
.x_pageNav li{-webkit-box-flex:5; height:60px; text-align:center}
.x_pageNav li a{height:22px;line-height:30px; padding-top:38px; display:block; color:#666}
.pageNav_1{background:url(./images/allIcon.png) center 0 no-repeat; background-size:38px 38px;}
.pageNav_2{background:url(./images/zbyIcon.png) center 0 no-repeat; background-size:38px 38px;}
.pageNav_3{background:url(./images/gnyIcon.png) center 0 no-repeat; background-size:38px 38px;}
.pageNav_4{background:url(./images/cjyIcon.png) center 0 no-repeat; background-size:38px 38px;}
.pageNav_5{background:url(./images/tickIcon.png) center 0 no-repeat; background-size:38px 38px;}

.pageNavActive_1{background:url(./images/allIcon_active.png) center 0 no-repeat; background-size:38px 38px;}
.pageNavActive_2{background:url(./images/zbyIcon_active.png) center 0 no-repeat; background-size:38px 38px;}
.pageNavActive_3{background:url(./images/gnyIcon_active.png) center 0 no-repeat; background-size:38px 38px;}
.pageNavActive_4{background:url(./images/cjyIcon_active.png) center 0 no-repeat; background-size:38px 38px;}
.pageNavActive_5{background:url(./images/tickIcon_active.png) center 0 no-repeat; background-size:38px 38px;}

.x_pageConList{padding:10px 5px 0 5px;}
.x_pageConList li{padding:10px 8px; background:#fff; height:70px; border:1px solid #dddddd; display:-webkit-box;margin-bottom:10px;}
.x_pageImg{height:70px; width:104px;margin-right:10px;display:block}
.x_pageImg img{height:70px; width:104px; }
.x_pConList{ -webkit-box-flex:1;height:68px; display:block}
.x_pConList p{line-height:16px;height:32px; font-size:13px;color:#333; display:-webkit-box; overflow:hidden; text-overflow:ellipsis; -webkit-line-clamp: 2; -webkit-box-orient: vertical; font-size:13px;}
.x_pageGo {height:18px;line-height:18px;padding:3px 0;}
.x_pageGo a{float:left;height:18px;padding:0 5px; border-radius:2px; background:#56d8c4;font-size:12px; color:#fff}
.x_pageGo a.x_yellow{background:#fcb34c}
.x_pageGo a.x_blue{background:#66ccff}
.x_pageGo em{float:right; color:#ff524b;height:18px;}
.x_pageAdd{color:#999999; line-height:18px; height:18px; overflow:hidden}
.x_pageMore{margin:0 14px;border:1px solid #ccc;height:28px;line-height:28px; text-align:center; background:#f4f4f4;color:#999;border-radius:30px;}

.x_load{position:fixed;top:0;left:0; z-index:9999;width:100%;height:100%; background: rgba(0,0,0,.2) url(img/load.gif) center no-repeat; background-size:50px 50px }


.change-type{}
.posfex{height:45px;display:-webkit-box;position:relative;z-index:4}
.fex{}
.change-type-c{position:absolute;left:0px;height:0px;overflow:hidden;background-color:#fff;z-index:3;-webkit-transition:height 300ms ease;width:100%}
.des-on{height:200px}
.change-type-c p{font-size:16px;color:#333;font-weight:bold;border-bottom:1px solid #ccc;padding:0 10px}
.change-type-c p:active{background-color:#dff0d7}
.change-type-c p a{color:#333;display:block;padding:15px 0px}
.change-type-c p.on a{background:url(./images/chang_on.png) no-repeat right center;background-size:11px 10px}
.change-type-c p a:active{background-color:#dff0d7}

.change-type ul{ display:-webkit-box; width:100%; text-align:center; background:#fff;}
.change-type ul li{ -webkit-box-flex:1; font-size:15px; line-height:43px; color:#333; border-bottom:#dddddd solid 1px;}
.change-type ul li a{ font-size:16px; line-height:25px; border-left:#dddddd solid 1px; display:block; height:25px; margin-top:9px;}
.change-type ul li.on a{ color:#00bf49;}
.change-type ul li.on{ border-bottom:3px #00bf49 solid;}
.change-type ul li:first-child a{ border-left:0;}
.change-type ul li a:active{ background:none;}

.jd_lists{}
.jd_li{-webkit-box-flex:1;height:95px;display: inline-block;margin-right:3px;margin-bottom:3px;}
.jd_li img{width:95px;height:71px;margin:0 auto;}
.jd-c p{line-height:14px;height:14px;text-align:center;width:93px;overflow:hidden;}
.jd-section-m{display: -webkit-box;text-align: center;}







