<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="keywords" content="水滴淘淘券">
        <meta name="description" content="水滴淘淘券">
        <meta name="author" content="lay-aui, a-ui.com">
        <title>水滴淘淘券--添加新地址</title>
        <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
        <meta content="yes" name="apple-mobile-web-app-capable"/>
        <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
        <meta content="telephone=no" name="format-detection"/>
        <link type="text/css" rel="stylesheet" href="${basePath}/resources/themes/css/base.css">
        <link type="text/css" rel="stylesheet" href="${basePath}/resources/themes/css/icon.css">
        <link type="text/css" rel="stylesheet" href="${basePath}/resources/themes/css/home.css">
        <link rel="icon" type="image/x-icon" href="favicon.ico">
        <link href="iTunesArtwork@2x.png" sizes="114x114" rel="apple-touch-icon-precomposed">

    </head>
    <body>

        <section class="aui-flexView">
            <header class="aui-navBar aui-navBar-fixed">
                <a href="javascript:history.back(-1)" class="aui-navBar-item">
                    <i class="icon icon-return"></i>
                </a>
                <div class="aui-center">
                    <span class="aui-center-title">添加新地址</span>
                </div>
                <a href="javascript:;" class="aui-navBar-item">
                    <i class="icon icon-sys"></i>
                </a>
            </header>
            <section class="aui-scrollView">
                <div class="aui-address-box">
                    <div class="aui-address-cell-item">
                        <div class="aui-cell-name">收货人</div>
                        <div class="aui-cell-input">
                            <input type="text" id="receiver" name="receiver" class="cell-input" placeholder="请输入您的姓名" autocomplete="off">
                        </div>
                    </div>
                    <div class="aui-address-cell-item">
                        <div class="aui-cell-name">手机号</div>
                        <div class="aui-cell-input">
                            <input type="number" id="mobile" name="mobile" class="cell-input" placeholder="请输入您的手机号" autocomplete="off">
                        </div>
                    </div>
                    <div class="aui-address-cell-item">
                        <div class="aui-cell-name">所在地区</div>
                        <div class="aui-cell-input cell-input-text">
                            <input type="text" name="region" class="cell-input" readonly id="J_Address" placeholder="请选择收货地址">
                        </div>
                    </div>
                    <div class="aui-address-cell-item">
                        <div class="aui-cell-name">详细地址</div>
                        <div class="aui-cell-input">
                            <input type="text" id="detailAddress" name="detailAddress" class="cell-input" placeholder="街道 小区或门牌号" autocomplete="off">
                        </div>
                    </div>
                    <div class="aui-address-cell-item">
                        <div class="aui-Address-box-item">
                            <label class="cell-right">
                                <input type="checkbox" value="0" name="addDefault">
                                <i class="cell-radio-icon"></i>默认地址
                            </label>

                        </div>
                    </div>
                    <div class="aui-add-box">
                        <button onclick="addAdrs()">保存收货地址</button>
                    </div>
                </div>
            </section>
        </section>

        <script type="text/javascript" src="${basePath}/resources/themes/js/jquery.min.js"></script>
        <script type="text/javascript" src="${basePath}/resources/themes/js/slider.js"></script>
        <script type="text/javascript" src="${basePath}/resources/themes/js/tab.js"></script>
        <script type="text/javascript" src="${basePath}/resources/themes/js/city.js"></script>
        <script type="text/javascript" src="${basePath}/resources/themes/js/address.js"></script>
        <script src="${basePath}/resources/js/store2.min.js"></script>
        <script type="text/javascript">
            /**
             * 默认调用
             */
            !function() {
                var $target = $('#J_Address');

                $target.citySelect();

                $target.on('click', function(event) {
                    event.stopPropagation();
                    $target.citySelect('open');
                });

                $target.on('done.ydui.cityselect', function(ret) {
                    $(this).val(ret.provance + ' ' + ret.city + ' ' + ret.area);
                });
            }();
            /**
             * 设置默认值
             */

            function addAdrs(){
                var token = store.session('token');
                var receiver = $("#receiver").val();
                var mobile = $("#mobile").val();
                var region = $("#J_Address").val();
                var detailAddress = $("#detailAddress").val();

                if(receiver==''){
                    alert('收货人不能为空!');
                    $("#receiver").focus();
                    return false;
                }

                if(mobile==''){
                    alert('手机号不为空!');
                    $("#mobile").focus();
                    return false;
                }else{
                    //手机号不为空,判断是否正确
                    var phoneNumReg = /(^[0-9]{3,4}\-{0,1}[0-9]{3,8}$)|(^[0-9]{3,8}$)|(^\([0-9]{3,4}\)[0-9]{3,8}$)|(^0{0,1}13[0-9]{9}$)/
                    if(!phoneNumReg.test(mobile)||mobile.length!=11) {
                        alert('请填写正确电话号码!!');
                        $("#mobile").focus();
                        return false;
                    }
                }

                if(region==''){
                    alert('请选择所在地区!');
                    return false;
                }

                if(detailAddress==''){
                    alert('详情地址不能为空!');
                    $("#detailAddress").focus();
                    return false;
                }


                var isDefault = $("input[type='checkbox']").is(':checked');
                var addDefault = 0;
                if(isDefault){
                    addDefault = 1;
                }
                $.ajax({
                    type: "post", //使用post方法访问后台
                    dataType: "json", //返回json格式的数据
                    url: "${basePath}/address/addAddress", //要访问的后台地址
                    data: "receiver=" + receiver + "&mobile=" + mobile+"&region="+region
                        +"&detailAddress="+detailAddress+"&addDefault="+addDefault+"&token="+token,// 你的formid
                    success: function (obj) {//msg为返回的数据，在这里做数据绑定
                        if (obj != "") {
                            if (typeof obj === 'string') {
                                obj = JSON.parse(obj);
                            }

                            if(obj.code=='1000'){
                                alert('添加成功!');
                                location.href="${basePath}/address/index?token="+token;
                            }else{
                                alert('添加失败');
                            }
                        }
                    }
                });

            }
        </script>

    </body>
</html>
