<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="keywords" content="水滴淘淘券">
        <meta name="description" content="水滴淘淘券">
        <meta name="author" content="lay-aui, a-ui.com">
        <title>水滴淘淘券--地址管理</title>
        <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
        <meta content="yes" name="apple-mobile-web-app-capable"/>
        <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
        <meta content="telephone=no" name="format-detection"/>
        <link type="text/css" rel="stylesheet" href="${basePath}/resources/themes/css/base.css">
        <link type="text/css" rel="stylesheet" href="${basePath}/resources/themes/css/icon.css">
        <link type="text/css" rel="stylesheet" href="${basePath}/resources/themes/css/home.css">
        <link rel="icon" type="image/x-icon" href="favicon.ico">
        <link href="iTunesArtwork@2x.png" sizes="114x114" rel="apple-touch-icon-precomposed">

    </head>
    <body>

        <section class="aui-flexView aui-flexView-address">
            <header class="aui-navBar aui-navBar-fixed b-line">
                <a href="javascript:history.back(-1)" class="aui-navBar-item">
                    <i class="icon icon-return"></i>
                </a>
                <div class="aui-center">
                    <span class="aui-center-title">地址管理</span>
                </div>
                <a href="${basePath}/address/add" class="aui-navBar-item">
                    <i class="icon icon-sys"></i>添加
                </a>
            </header>
            <section class="aui-scrollView">
                <#if addressList?? && (addressList?size>0)>
                    <#list addressList as address>
                        <div class="aui-Address-box" onclick="window.location.href='${basePath}/address/edit?id=${address.id}'">
                            <div class="aui-Address-box-item">
                                <div class="aui-Address-box-item-bd">
                                    <h2>${address.receiver!''}</h2>
                                </div>
                                <div class="aui-Address-box-item-ft">
                                    <p>${address.mobile!''}</p>
                                </div>
                            </div>
                            <div class="aui-Address-box-item aui-add-bottom b-line">
                                <div class="aui-Address-box-item-bd">
                                    <p>${address.address!''}</p>
                                </div>
                            </div>
                            <div class="aui-Address-box-item">
                                <div class="aui-Address-box-item">
                                    <label class="cell-right">
                                        <input type="radio" readonly value="${address.addDefault!0}" name="1"  <#if address.addDefault == 1>checked</#if> />
                                        <i class="cell-radio-icon"></i>默认地址
                                    </label>

                                </div>
                                <div class="aui-Address-box-item-ft">
                                    <p> <i class="icon icon-delete"></i> 删除</p>
                                </div>
                            </div>
                        </div>
                    </#list>
                </#if>
                <div class="aui-add-box">
                    <button onclick="window.location.href='${basePath}/address/add'">添加新地址</button>
                </div>
            </section>
        </section>


       <!-- 删除地址 弹窗 提示   通用弹窗 begin  -->
        <div class="mask-black-dialog" style="display:none">
            <div class="m-confirm">
                <div class="confirm-hd">
                    <strong class="confirm-title">标题</strong>
                </div>
                <div class="confirm-bd">确认删除该收货地址吗？</div>
                <div class="confirm-ft">
                    <a href="javascript:;" class="confirm-btn default">取消</a>
                    <a href="javascript:;" class="confirm-btn primary">确定</a>
                </div>
            </div>
        </div>
       <!-- 删除地址 弹窗 提示   通用弹窗 ene -->

        <script type="text/javascript" src="${basePath}/resources/themes/js/jquery.min.js"></script>
        <script type="text/javascript" src="${basePath}/resources/themes/js/slider.js"></script>
        <script type="text/javascript" src="${basePath}/resources/themes/js/tab.js"></script>

    </body>
</html>
