<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="keywords" content="水滴淘淘券">
        <meta name="description" content="水滴淘淘券">
        <meta name="author" content="lay-aui, a-ui.com">
        <title>水滴淘淘券--一分钱抽奖</title>
        <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
        <meta content="yes" name="apple-mobile-web-app-capable"/>
        <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
        <meta content="telephone=no" name="format-detection"/>
        <link type="text/css" rel="stylesheet" href="${basePath}/resources/themes/css/base.css">
        <link type="text/css" rel="stylesheet" href="${basePath}/resources/themes/css/icon.css">
        <link type="text/css" rel="stylesheet" href="${basePath}/resources/themes/css/home.css">
        <link rel="icon" type="image/x-icon" href="favicon.ico">
        <link href="iTunesArtwork@2x.png" sizes="114x114" rel="apple-touch-icon-precomposed">

    </head>
    <body>
        <section class="aui-flexView">
            <header class="aui-navBar aui-navBar-fixed">
                <a href="javascript:history.back(-1);" class="aui-navBar-item">
                    <i class="icon icon-return"></i>
                </a>
                <div class="aui-center">
                    <span class="aui-center-title">${tbLucky.gtitle!''}</span>
                </div>
                <a href="javascript:;" class="aui-navBar-item">
                    <i class="icon icon-share" data-ydui-actionsheet="{target:'#actionSheet',closeElement:'#cancel'}"></i>
                </a>
            </header>
            <section class="aui-scrollView">
                <div class="img_gallery" id="commodity">
                    <div class="main_img">
                        <ul>
                            <#if imgs?? && (imgs?size>0)>
                                <#list imgs as img>
                                    <li>
                                        <img src="${img}" alt="">
                                    </li>
                                </#list>
                            </#if>
                        </ul>
                    </div>
                    <div class="img_font">
                        <#if imgs?? && (imgs?size>0)>
                            <#list imgs as img>
                                 <span>${img_index+1}/${imgs?size}</span>
                            </#list>
                         </#if>
                    </div>
                </div>
                <div class="aui-box-gradual">
                    <div class="aui-flex">
                        <div class="aui-time-price">
                            <i>￥</i>
                            ${tbLucky.cprice!''}
                        </div>
                        <div class="aui-flex-box aui-text-lines">
                            <h3>￥${tbLucky.originalPrice!''}</h3>
                            <p>
                                <em class="aui-two">${tbLucky.maxPeople!''}人团</em>
                            </p>
                        </div>
                        <div class="aui-time-box">
                            <p>距结束还剩</p>
                            <div class="time-item">
                                <span class="hour_show">00</span>
                                <em>:</em>
                                <span class="minute_show">00</span>
                                <em>:</em>
                                <span class="second_show">00</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="aui-flex aui-flex-clear-line">
                    <div class="aui-flex-box">
                        <h4>${tbLucky.gtitle!''}</h4>
                        <p>${tbLucky.gdesc!''}</p>
                    </div>
                    <div class="aui-share-box" data-ydui-actionsheet="{target:'#actionSheet',closeElement:'#cancel'}">
                        <i class="aui-icon-share"></i>
                        <p>分享</p>
                    </div>
                </div>
                <div class="aui-news-cox-box">
                    <div class="aui-news-cox aui-flex">
                        <div class="aui-news-cox-red">
                            <img src="${basePath}/resources/themes/img/icon/icon-qmt.png" alt="">
                        </div>
                        <div class="aui-flex-box">新用户和老用户可参团，开团
                        </div>
                    </div>
                </div>
                <div class="divHeight"></div>
                <div class="aui-coll-step  yd-step-theme1 clearfix">
                    <p style="padding-bottom:20px; color:#ff3952">拼团玩法</p>
                    <ul class="yd-step-content">
                        <li class="yd-step-item yd-step-item-current">
                            <em class="yd-step-checkmark">
                                <i></i>
                            </em>
                            <div class="yd-step-item-top">
                                <div class="yd-step-item-top-text">
                                    <span></span>
                                </div>
                            </div>
                            <div class="yd-step-item-bottom">
                                <p>选择商品</p>
                                <p>完成下单</p>
                            </div>
                        </li>
                        <li class="yd-step-item yd-step-item-current">
                            <em class="">
                                <i>2</i>
                            </em>
                            <div class="yd-step-item-top">
                                <div class="yd-step-item-top-text">
                                    <span></span>
                                </div>
                            </div>
                            <div class="yd-step-item-bottom">
                                <p>邀请好友</p>
                                <p>好友参团</p>
                            </div>
                        </li>
                        <li class="yd-step-item">
                            <em class="">
                                <i>3</i>
                            </em>
                            <div class="yd-step-item-top">
                                <div class="yd-step-item-top-text">
                                    <span></span>
                                </div>
                            </div>
                            <div class="yd-step-item-bottom">
                                <p>参团成功</p>
                                <p>等待抽奖</p>
                            </div>
                        </li>
                        <li class="yd-step-item">
                            <em class="">
                                <i>4</i>
                            </em>
                            <div class="yd-step-item-top">
                                <div class="yd-step-item-top-text">
                                    <span></span>
                                </div>
                            </div>
                            <div class="yd-step-item-bottom">
                                <p>中奖名单</p>
                                <p>即刻发货</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="divHeight"></div>
                <div class="aui-friend-coll">
                    <div class="aui-friend-coll-head">
                        <h2>小伙伴发起的拼团,您可以直接参与</h2>
                    </div>
                    <a href="javascript:;"  class="aui-flex b-line">
                        <div class="aui-friend-img">
                            <img src="themes/img/user/user-logo-003.png" alt="">
                        </div>
                        <div class="aui-flex-box">
                            <h4>AUI素材网</h4>
                        </div>
                        <div class="aui-friend-differ">
                            <h4>还差 <em>1</em>人成团</h4>
                            <h5>剩余:<em>15:44:43</em></h5>
                        </div>
                        <div class="aui-friend-button">
                            <button>去参团</button>
                        </div>
                    </a>
                    <a href="javascript:;"  class="aui-flex">
                        <div class="aui-friend-img">
                            <img src="themes/img/user/user-logo-004.png" alt="">
                        </div>
                        <div class="aui-flex-box">
                            <h4>58素材网</h4>
                        </div>
                        <div class="aui-friend-differ">
                            <h4>还差 <em>2</em>人成团</h4>
                            <h5>剩余:<em>15:44:43</em></h5>
                        </div>
                        <div class="aui-friend-button">
                            <button>去参团</button>
                        </div>
                    </a>
                </div>
                <div class="divHeight"></div>
                <div class="aui-login-line">
                    <h2>商品详情</h2>
                </div>
                <div class="aui-page-box">
                    <#if detailPics?? && (detailPics?size>0)>
                        <#list detailPics as detailPic>
                            <p>
                                <img src="${detailPic!''}" alt="">
                            </p>
                        </#list>
                    </#if>
                </div>
            </section>
            <footer class="aui-footer aui-footer-fixed">
                <a href="javascript:window.location.href='${basePath}/index';" class="aui-tabBar-item aui-tabBar-item-active">
                    <span class="aui-tabBar-item-icon">
                        <i class="icon icon-home"></i>
                    </span>
                    <span class="aui-tabBar-item-text">首页</span>
                </a>
                <button class="aui-button-btn">
                    <i>￥</i>
                    ${tbLucky.cprice!''}一键开团
                </button>
            </footer>
        </section>
        <div class="m-actionsheet" id="actionSheet">
            <div class="aui-show-box">
                <div class="aui-show-box-title aui-footer-flex">
                    <div class="b-line aui-coll-share-box">
                        <a href="javascript:;" class="aui-coll-share-item">
                            <div class="aui-coll-share-img">
                                <img src="themes/img/icon/icon-wx.png" alt="">
                            </div>
                            <div class="aui-coll-share-text">微信好友</div>
                        </a>
                        <a href="javascript:;" class="aui-coll-share-item">
                            <div class="aui-coll-share-img">
                                <img src="themes/img/icon/icon-pyq.png" alt="">
                            </div>
                            <div class="aui-coll-share-text">朋友圈</div>
                        </a>
                        <a href="javascript:;" class="aui-coll-share-item">
                            <div class="aui-coll-share-img">
                                <img src="themes/img/icon/icon-qq.png" alt="">
                            </div>
                            <div class="aui-coll-share-text">QQ</div>
                        </a>
                        <a href="javascript:;" class="aui-coll-share-item">
                            <div class="aui-coll-share-img">
                                <img src="themes/img/icon/icon-kj.png" alt="">
                            </div>
                            <div class="aui-coll-share-text">QQ空间</div>
                        </a>
                        <a href="javascript:;" class="aui-coll-share-item">
                            <div class="aui-coll-share-img">
                                <img src="themes/img/icon/icon-txw.png" alt="">
                            </div>
                            <div class="aui-coll-share-text">腾讯微博</div>
                        </a>
                        <a href="javascript:;" class="aui-coll-share-item">
                            <div class="aui-coll-share-img">
                                <img src="themes/img/icon/icon-wb.png" alt="">
                            </div>
                            <div class="aui-coll-share-text">新浪微博</div>
                        </a>
                    </div>
                    <div class="aui-coll-cancel">
                        <a href="javascript:;" id="cancel" class="">取消
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="${basePath}/resources/themes/js/jquery.min.js"></script>
        <script type="text/javascript" src="${basePath}/resources/themes/js/layer.js"></script>
        <script type="text/javascript" src="${basePath}/resources/themes/js/touchSlider.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {

                $(".main_img").touchSlider({
                    flexible: true,
                    speed: 200,
                    btn_prev: $("#btn_prev"),
                    btn_next: $("#btn_next"),
                    paging: $(".point a"),
                    counter: function(e) {
                        $(".point a").removeClass("on").eq(e.current - 1).addClass("on");
                        $(".img_font span").hide().eq(e.current - 1).show();
                    }
                });

            });
        </script>
        <script type="text/javascript">

            var intDiff = parseInt(32000);
            //倒计时总秒数量

            function timer(intDiff) {
                window.setInterval(function() {
                    var day = 00
                      , hour = 00
                      , minute = 00
                      , second = 00;
                    //时间默认值
                    if (intDiff > 0) {
                        day = Math.floor(intDiff / (60 * 60 * 24));
                        hour = Math.floor(intDiff / (60 * 60)) - (day * 24);
                        minute = Math.floor(intDiff / 60) - (day * 24 * 60) - (hour * 60);
                        second = Math.floor(intDiff) - (day * 24 * 60 * 60) - (hour * 60 * 60) - (minute * 60);
                    }
                    if (minute <= 9)
                        minute = '0' + minute;
                    if (second <= 9)
                        second = '0' + second;
                    $('.hour_show').html('0<s id="h"></s>' + hour + ' ');
                    $('.minute_show').html('<s></s>' + minute + ' ');
                    $('.second_show').html('<s></s>' + second + ' ');
                    intDiff--;
                }, 1000);
            }

            $(function() {
                timer(intDiff);
            });
        </script>
    </body>
</html>
