<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="keywords" content="水滴淘淘券">
        <meta name="description" content="水滴淘淘券">
        <meta name="author" content="lay-aui, a-ui.com">
        <title>水滴淘淘券--编辑地址</title>
        <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
        <meta content="yes" name="apple-mobile-web-app-capable"/>
        <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
        <meta content="telephone=no" name="format-detection"/>
        <link type="text/css" rel="stylesheet" href="${basePath}/resources/themes/css/base.css">
        <link type="text/css" rel="stylesheet" href="${basePath}/resources/themes/css/icon.css">
        <link type="text/css" rel="stylesheet" href="${basePath}/resources/themes/css/home.css">
        <link rel="icon" type="image/x-icon" href="favicon.ico">
        <link href="iTunesArtwork@2x.png" sizes="114x114" rel="apple-touch-icon-precomposed">

    </head>
    <body>

        <section class="aui-flexView">
            <header class="aui-navBar aui-navBar-fixed">
                <a href="javascript:history.back(-1)" class="aui-navBar-item">
                    <i class="icon icon-return"></i>
                </a>
                <div class="aui-center">
                    <span class="aui-center-title">编辑地址</span>
                </div>
                <a href="javascript:delAddr(${tbAddress.id!''});" class="aui-navBar-item" style="color:#ff1767">
                    <i class="icon icon-sys"></i>删除
                </a>
            </header>
            <section class="aui-scrollView">
                <div class="aui-address-box">
                    <div class="aui-address-cell-item">
                        <div class="aui-cell-name">收货人</div>
                        <div class="aui-cell-input">
                            <input type="text" class="cell-input" placeholder="李嘉桦" value="${tbAddress.receiver!''}" autocomplete="off">
                        </div>
                    </div>
                    <div class="aui-address-cell-item">
                        <div class="aui-cell-name">手机号</div>
                        <div class="aui-cell-input">
                            <input type="text" class="cell-input" placeholder="18519232894" value="${tbAddress.mobile!''}" autocomplete="off">
                        </div>
                    </div>
                    <div class="aui-address-cell-item">
                        <div class="aui-cell-name">所在地区</div>
                        <div class="aui-cell-input cell-input-text">
                            <input type="text" class="cell-input" readonly id="J_Address"  value="${tbAddress.region!''}"  placeholder="北京市海淀区">
                        </div>
                    </div>
                    <div class="aui-address-cell-item">
                        <div class="aui-cell-name">详细地址</div>
                        <div class="aui-cell-input">
                            <input type="text" class="cell-input" placeholder="学院路43号大唐电信B座801" value="${tbAddress.detailAddress!''}"  autocomplete="off">
                        </div>
                    </div>
                    <div class="aui-add-box">
                        <button>保存收货地址</button>
                    </div>
                </div>
            </section>
        </section>

        <script type="text/javascript" src="${basePath}/resources/themes/js/jquery.min.js"></script>
        <script type="text/javascript" src="${basePath}/resources/themes/js/slider.js"></script>
        <script type="text/javascript" src="${basePath}/resources/themes/js/tab.js"></script>
        <script type="text/javascript" src="${basePath}/resources/themes/js/city.js"></script>
        <script type="text/javascript" src="${basePath}/resources/themes/js/address.js"></script>
        <script src="https://cdn.bootcss.com/store2/2.7.0/store2.min.js"></script>
        <script type="text/javascript">
            /**
             * 默认调用
             */
            !function() {
                var $target = $('#J_Address');

                $target.citySelect();

                $target.on('click', function(event) {
                    event.stopPropagation();
                    $target.citySelect('open');
                });

                $target.on('done.ydui.cityselect', function(ret) {
                    $(this).val(ret.provance + ' ' + ret.city + ' ' + ret.area);
                });
            }();
            /**
             * 设置默认值
             */

            function delAddr(id){
                var token = store.session('token');
                var  b = confirm('确定删除？');
                if(!b){
                    return ;
                }
                $.ajax({
                    url:'${basePath}/address/del',
                    type:'post',
                    data:'id='+id,
                    success:function(rs){
                        if(rs.code=='1000'){
                            alert("删除成功！");
                            location.href="${basePath}/address/index?token="+token;
                        }else{
                            alert("删除失败！");
                        }
                    }
                })
            }
        </script>

    </body>
</html>
