<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>我的好友</title>
        <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
        <meta content="yes" name="apple-mobile-web-app-capable"/>
        <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
        <meta content="telephone=no" name="format-detection"/>
        <link type="text/css" rel="stylesheet" href="${basePath}/resources/css/friend.css">
        <script type="text/javascript" src="${basePath}/resources/js/jquery.min.js"></script>
        <script type="text/javascript" src="${basePath}/resources/js/tab.js"></script>
    </head>
    <body>

        <section class="aui-flexView">
            <header class="aui-navBar aui-navBar-fixed">
                <a href="javascript:history.back(-1)" class="aui-navBar-item">
                    <i class="icon icon-return"></i>
                </a>
                <div class="aui-center">
                    <span class="aui-center-title">我的好友</span>
                </div>
                <a href="javascript:;" class="aui-navBar-item">
                    <i class="icon icon-sys"></i>
                </a>
            </header>

            <section class="aui-scrollView">
                <div class="aui-tab-box" data-ydui-tab>
                    <div class="tab-panel">
                        <div class="tab-panel-item tab-active">
                            <div class="tab-item">
                                <a href="javascript:;" class="aui-list-item">
                                    <div class="aui-list-item-hd">
                                         <h4>昵称</h4>
                                    </div>
                                    <span class="aui-list-item-fr">
                                         <h4>累计奖励/注册时间</h4>
                                    </span>
                                </a>

                                <a href="javascript:;" class="aui-list-item">
                                    <div class="aui-list-item-hd">
                                          <img src="file:///D:/%E8%87%AA%E5%B7%B1%E7%9A%84%E9%A1%B9%E7%9B%AE/html%E8%B5%84%E6%96%99/%E4%BC%9A%E5%91%98/%E6%88%91%E7%9A%84%E5%A5%BD%E5%8F%8B/5e759c1b89fd5/images/user-logo-001.jpg" alt="">
                                        <span class="aui-well-comm-vip">
                                            <img src="images/icon-vip.png" alt="">
                                        </span>
                                    </div>
                                    <div class="aui-list-item-bd">
                                        <h4>蓝色天空</h4>
                                        <p>生活就像毛线,越扯越长,越长越扯淡越长越扯淡,</p>
                                    </div>
                                    <span class="aui-list-item-fr">
                                        <img src="images/icon-follow-001.jpg" alt="">
                                        <p>相互关注</p>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </body>
</html>
