<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="keywords" content="水滴淘淘券">
        <meta name="description" content="水滴淘淘券">
        <meta name="author" content="lay-aui, a-ui.com">
        <title>水滴淘淘券-我的订单</title>
        <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
        <meta content="yes" name="apple-mobile-web-app-capable"/>
        <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
        <meta content="telephone=no" name="format-detection"/>
        <link type="text/css" rel="stylesheet" href="${basePath}/resources/themes/css/base.css">
        <link type="text/css" rel="stylesheet" href="${basePath}/resources/themes/css/icon.css">
        <link type="text/css" rel="stylesheet" href="${basePath}/resources/themes/css/home.css">
        <link rel="icon" type="image/x-icon" href="favicon.ico">
        <link href="iTunesArtwork@2x.png" sizes="114x114" rel="apple-touch-icon-precomposed">

    </head>
    <body>

        <section class="aui-flexView">
            <header class="aui-navBar aui-navBar-fixed">
                <a href="javascript:history.back(-1)" class="aui-navBar-item">
                    <i class="icon icon-return"></i>
                </a>
                <div class="aui-center">
                    <span class="aui-center-title">我的订单</span>
                </div>
                <a href="javascript:;" class="aui-navBar-item">
                    <i class="icon icon-sys"></i>
                </a>
            </header>
            <section class="aui-scrollView">
                <div class="aui-tab" data-ydui-tab>
                    <ul class="tab-nav b-line">
                        <li class="tab-nav-item tab-active">
                            <a href="javascript:;">
                                <span>全部</span>
                            </a>
                        </li>
                        <li class="tab-nav-item">
                            <a href="javascript:;">
                                <span>待付款</span>
                            </a>
                        </li>
                        <li class="tab-nav-item">
                            <a href="javascript:;">
                                <span>待发货</span>
                            </a>
                        </li>
                        <li class="tab-nav-item">
                            <a href="javascript:;">
                                <span>待收货</span>
                            </a>
                        </li>
                        <li class="tab-nav-item">
                            <a href="javascript:;">
                                <span>退款/售后</span>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-panel tab-panel-clear-line">
                        <div class="tab-panel-item tab-active">
                            <a href="javascript:;" class="aui-order-list">
                                <div class="aui-flex">
                                    <div class="aui-flex-box">
                                        <h3>一元拼团团购 </h3>
                                    </div>
                                    <div class="aui-order-pay">
                                        <p>等待付款</p>
                                    </div>
                                </div>
                                <div class="aui-flex aui-flex-order">
                                    <div class="aui-order-img">
                                        <img src="themes/img/ad/ad-000.jpg" alt="">
                                    </div>
                                    <div class="aui-flex-box">
                                        <h2>江西赣南脐橙 精品大果 现摘橙子 新鲜水果 京东生鲜 10斤精品钻石果10斤精品钻石果10斤精品钻石果</h2>
                                        <h4>共 <i>1</i> 件商品 需付款 <em>￥9.9</em></h4>
                                    </div>
                                </div>
                                <div class="aui-flex aui-flex-button">
                                    <div class="aui-flex-box">
                                        <button class="aui-order-cancel">取消订单</button>
                                        <button>去支付</button>
                                    </div>
                                </div>
                            </a>
                            <a href="javascript:;" class="aui-order-list">
                                <div class="aui-flex">
                                    <div class="aui-flex-box">
                                        <h3>一元拼团团购 </h3>
                                    </div>
                                    <div class="aui-order-pay">
                                        <p>已发货</p>
                                    </div>
                                </div>
                                <div class="aui-flex aui-flex-order">
                                    <div class="aui-order-img">
                                        <img src="themes/img/ad/ad-001.jpg" alt="">
                                    </div>
                                    <div class="aui-flex-box">
                                        <h2>江西赣南脐橙 精品大果 现摘橙子 新鲜水果 京东生鲜 10斤精品钻石果10斤精品钻石果10斤精品钻石果</h2>
                                        <h4>共 <i>1</i> 件商品 需付款 <em>￥9.9</em></h4>
                                    </div>
                                </div>
                                <div class="aui-flex aui-flex-button">
                                    <div class="aui-flex-box">
                                        <button>已完成</button>
                                    </div>
                                </div>
                            </a>
                            <a href="javascript:;" class="aui-order-list">
                                <div class="aui-flex">
                                    <div class="aui-flex-box">
                                        <h3>一元拼团团购 </h3>
                                    </div>
                                    <div class="aui-order-pay">
                                        <p>已发货</p>
                                    </div>
                                </div>
                                <div class="aui-flex aui-flex-order">
                                    <div class="aui-order-img">
                                        <img src="themes/img/ad/ad-001.jpg" alt="">
                                    </div>
                                    <div class="aui-flex-box">
                                        <h2>江西赣南脐橙 精品大果 现摘橙子 新鲜水果 京东生鲜 10斤精品钻石果10斤精品钻石果10斤精品钻石果</h2>
                                        <h4>共 <i>1</i> 件商品 需付款 <em>￥9.9</em></h4>
                                    </div>
                                </div>
                                <div class="aui-flex aui-flex-button">
                                    <div class="aui-flex-box">
                                        <button>查看物流</button>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="tab-panel-item">
                            <a href="javascript:;" class="aui-order-list">
                                <div class="aui-flex">
                                    <div class="aui-flex-box">
                                        <h3>一元拼团团购 </h3>
                                    </div>
                                    <div class="aui-order-pay">
                                        <p>等待付款</p>
                                    </div>
                                </div>
                                <div class="aui-flex aui-flex-order">
                                    <div class="aui-order-img">
                                        <img src="themes/img/ad/ad-002.jpg" alt="">
                                    </div>
                                    <div class="aui-flex-box">
                                        <h2>江西赣南脐橙 精品大果 现摘橙子 新鲜水果 京东生鲜 10斤精品钻石果10斤精品钻石果10斤精品钻石果</h2>
                                        <h4>共 <i>1</i> 件商品 需付款 <em>￥9.9</em></h4>
                                    </div>
                                </div>
                                <div class="aui-flex aui-flex-button">
                                    <div class="aui-flex-box">
                                        <button class="aui-order-cancel">取消订单</button>
                                        <button>去支付</button>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="tab-panel-item">
                            <a href="javascript:;" class="aui-order-list">
                                <div class="aui-flex">
                                    <div class="aui-flex-box">
                                        <h3>一元拼团团购 </h3>
                                    </div>
                                    <div class="aui-order-pay">
                                        <p>待发货</p>
                                    </div>
                                </div>
                                <div class="aui-flex aui-flex-order">
                                    <div class="aui-order-img">
                                        <img src="themes/img/ad/ad-004.jpg" alt="">
                                    </div>
                                    <div class="aui-flex-box">
                                        <h2>江西赣南脐橙 精品大果 现摘橙子 新鲜水果 京东生鲜 10斤精品钻石果10斤精品钻石果10斤精品钻石果</h2>
                                        <h4>共 <i>1</i> 件商品 需付款 <em>￥9.9</em></h4>
                                    </div>
                                </div>
                                <div class="aui-flex aui-flex-button">
                                    <div class="aui-flex-box">
                                        <button>查看物流</button>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="tab-panel-item">
                            <a href="javascript:;" class="aui-order-list">
                                <div class="aui-flex">
                                    <div class="aui-flex-box">
                                        <h3>一元拼团团购 </h3>
                                    </div>
                                    <div class="aui-order-pay">
                                        <p>待收货</p>
                                    </div>
                                </div>
                                <div class="aui-flex aui-flex-order">
                                    <div class="aui-order-img">
                                        <img src="themes/img/ad/ad-005.jpg" alt="">
                                    </div>
                                    <div class="aui-flex-box">
                                        <h2>江西赣南脐橙 精品大果 现摘橙子 新鲜水果 京东生鲜 10斤精品钻石果10斤精品钻石果10斤精品钻石果</h2>
                                        <h4>共 <i>1</i> 件商品 需付款 <em>￥9.9</em></h4>
                                    </div>
                                </div>
                                <div class="aui-flex aui-flex-button">
                                    <div class="aui-flex-box">
                                        <button>确认收货</button>
                                    </div>
                                </div>
                            </a>

                        </div>
                        <div class="tab-panel-item">
                            <a href="javascript:;" class="aui-order-list">
                                <div class="aui-flex">
                                    <div class="aui-flex-box">
                                        <h3>一元拼团团购 </h3>
                                    </div>
                                    <div class="aui-order-pay">
                                        <p>已完成</p>
                                    </div>
                                </div>
                                <div class="aui-flex aui-flex-order">
                                    <div class="aui-order-img">
                                        <img src="themes/img/ad/ad-005.jpg" alt="">
                                    </div>
                                    <div class="aui-flex-box">
                                        <h2>江西赣南脐橙 精品大果 现摘橙子 新鲜水果 京东生鲜 10斤精品钻石果10斤精品钻石果10斤精品钻石果</h2>
                                        <h4>共 <i>1</i> 件商品 需付款 <em>￥9.9</em></h4>
                                    </div>
                                </div>
                                <div class="aui-flex aui-flex-button">
                                    <div class="aui-flex-box">
                                        <button class="aui-order-cancel">查看订单</button>
                                        <button>已完成</button>
                                    </div>
                                </div>
                            </a>

                        </div>
                    </div>
                </div>


            </section>
        </section>

        <script type="text/javascript" src="themes/js/jquery.min.js"></script>
        <script type="text/javascript" src="themes/js/slider.js"></script>
        <script type="text/javascript" src="themes/js/tab.js"></script>

    </body>
</html>
